body {
    background-color: #f8f9fa;
    font-family: 'Inter', 'Roboto', sans-serif;
    margin: 0;
    padding: 50px 200px 200px 200px;
    box-sizing: border-box;
}
.header {
    background-color: #f5f5f5;

}


.btn-success {
    max-width: 100%;
    height: 50px;
    width: 170px;
}
.dropdown {
    background-color: rgb(119, 119, 119);
    border-radius: 5px;
}
.dropdown .bi {
    color:#f8f9fa;
   } 
.nav-link.dropdown-toggle::after {
    border-top-color: white;


}

.gallery img,
.card img {

    display: block;
    width: 100%;
    object-fit: cover;
    border: 1px solid black;
    display: block;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
}

.feed-posts {
    margin-top: 30px;

}