body {
    background-color: #f8f9fa;
    font-family: 'Inter', 'Roboto', sans-serif;
    margin: 0;
    padding: 6vh 10vw 6vh 10vw;
    box-sizing: border-box;
    
}
.header {
    background-color: #f5f5f5;
    min-width: 225px;
}

.btn-success {
    max-width: 100%;
    height: 42px;
    width: 200px;
}

.dropdown {
    background-color: rgb(119, 119, 119);
    border-radius: 5px;
}
.dropdown .bi {
    color:#f8f9fa;
   } 
.nav-link.dropdown-toggle::after {
    border-top-color: white;
}

.gallery img {

    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1.1;
}

.card img {

    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: center;
    align-items: center;

}

.feed-posts {
    margin-top: 30px;

}

.cuadro-de-texto {
    margin: 0 20px 0 20px;

}

.icons-modal {
    margin: 20px;

}
.camera-icon 
.location-icon {
    background-color: grey;
    border: 1px solid black ;

}
   
.card-title {
    padding: 10px 0 0 10px;


}